label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px; /* Round the input boxes */
    box-sizing: border-box;
}

.radio-group label{
    display: inline-block;
    margin-right: 50px;
    border-radius: 50%;
}

.radio-group input[type="radio"] {
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
}

input[type="submit"] {
    background-color: #292929;
    color: #fff;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ffa500;
    color: black;
}