<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participants (API)</title>
    <link rel="stylesheet" href="style.css">
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
    </script>
</head>
<body>
<div class="box">
    <div class="topnav">
        <a href="index.html">Accueil</a>
        <a href="inscription.html">Inscription</a>
        <a href="listParticipants.php">Participants</a>
        <a class="active" href="listParticipantsVue.html">Participants (API)</a>
    </div>
    <div class="content">
        <div class="container">
            <div id="app" class="wrap">
                <div id="participants-list" class="fleft">
                    <h2>Liste des inscrits</h2>
                    <div v-for="participant in participants" :key="participant.id">
                        <p><a class='clickName' href="#" @click="showDetails(participant.id)">{{ participant.prenom }} {{ participant.nom }}</a></p>
                    </div>
                </div>
                <div id="participant-details" class="fright">
                    <h2 v-if="selectedParticipant">Détails du participant :</h2>
                    <p v-if="selectedParticipant">Nom : {{ selectedParticipant.nom }}</p>
                    <p v-if="selectedParticipant">Prénom : {{ selectedParticipant.prenom }}</p>
                    <p v-if="selectedParticipant">Téléphone : {{ selectedParticipant.telephone }}</p>
                    <p v-if="selectedParticipant">Date de naissance : {{ selectedParticipant.naissance }}</p>
                    <p v-if="selectedParticipant">Login : {{ selectedParticipant.login }}</p>
                    <p v-if="selectedParticipant">Sexe : {{ selectedParticipant.sexe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p class="info">© 2024 Compétition Sportive Ensai. Tous droits réservés.</p>
    </div>
</div>

    <script type="module">
        import { createApp } from 'vue';

        createApp({
            data () {
                return {
                participants: [],
                selectedParticipant: null
                }
            },
            mounted() {
                this.fetchParticipants();
            },
            methods: {
                fetchParticipants() {
                    var xhr = new XMLHttpRequest();
                    var self = this;
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                self.participants = JSON.parse(xhr.responseText);
                            } else {
                                console.error('Error fetching participants');
                            }
                        }
                    };
                    xhr.open('GET', 'http://localhost/tp_final/participants', true);
                    xhr.send();
                },
                showDetails(participantId) {
                    var xhr = new XMLHttpRequest();
                    var self = this;
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                self.selectedParticipant = JSON.parse(xhr.responseText)[0];
                            } else {
                                console.error('Error fetching participant details');
                            }
                        }
                    };
                    xhr.open('GET', `http://localhost/tp_final/participants/${participantId}`, true);
                    xhr.send();
                }
            }
        }).mount("#app");
    </script>
</body>
</html>
