html, body {
  height: 100%;
  margin: 0;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.topnav {
  flex: 0 1 auto;
  background-color: #292929;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: #292929;
}
  
.topnav a.active {
    /* background-color: #04AA6D; */
    background-color: #ffa500;
    color: white;
  }
.content {
  flex: 1 1 auto;
  font-family: Arial, sans-serif;
  background: url('assets/ensai.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.footer {
  flex: 0 1 40px;
  background-color: #292929;

  text-align: center;
}
.footer p.info {
    color: white;
    justify-content: center;
    align-items: center;
}

.clickName{
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.clickName:hover{
  color: orange;
}

.wrap {
  width: 100%;
  overflow:auto;
}

.fleft {
  float:left; 
  width: 50%;
  /* background:lightblue;
  height: 400px; */
}

.fright {
  float: right;
  /* background:pink;
  height: 400px; */
  width: 50%;
  
}